body {
  background: -webkit-gradient(linear, left bottom, left top, from(#f77b28), color-stop(#181818), color-stop(#665b4f), to(#f77b28));
  background: linear-gradient(to top, #f77b28, #181818, #665b4f, #f77b28);
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #fd7d15;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #fd7d15;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #fd7d15;
}

h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #fd7d15;
}

h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #fd7d15;
}

h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #fd7d15;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  list-style: none;
}

a {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  list-style: none;
}

li {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  list-style: none;
}

/* header fondo */
header {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(73, 69, 69, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/pexels-photo.jpg);
  background-image: linear-gradient(0deg, rgba(73, 69, 69, 0.5), rgba(0, 0, 0, 0.5)), url(../img/pexels-photo.jpg);
}

/* main */
.card {
  margin: 15px;
}

.centrar__texto {
  margin-top: 50px;
}

.centrar__texto h2 {
  margin: 20px;
}

.container-fluid ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* aside */
aside .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/aside.png);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/aside.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px;
  margin: auto;
}

#info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #323232;
}

#info h2 {
  font-size: 3vw;
}

#info button {
  font-size: 1vw;
}

.imgs__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* footer */
footer {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(73, 69, 69, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/pexels-photo.jpg);
  background-image: linear-gradient(0deg, rgba(73, 69, 69, 0.5), rgba(0, 0, 0, 0.5)), url(../img/pexels-photo.jpg);
}

footer p {
  margin: 0;
  color: #fd7d15;
}

footer .container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iconos ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  text-align: center;
}

.iconos ul li a {
  display: block;
  padding: 0 10px;
  color: #fd7d15;
  line-height: 50px;
  font-size: 20px;
  -webkit-box-shadow: 0 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  transition: .2s;
}

.iconos ul:hover a {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

/* transformaciones */
.iconos ul li a:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-filter: none;
          filter: none;
}

.iconos ul li .facebook:hover {
  background: var(--facebook);
}

/* SERVICIOS */
.grid {
  display: -ms-grid;
  display: grid;
  gap: 5px;
  padding: 5px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.grid .tituloss {
  grid-column: 1/-1;
}

.grid div {
  padding: 5px;
  background-color: #323232;
  color: #fd7d15;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid div h4 {
  font-family: "Chakra Petch", sans-serif;
  text-align: center;
  font-size: 25px;
}

.grid .img__clase {
  width: 100%;
  height: auto;
}

.grid .sidebar {
  grid-column: 1 / -1;
}
